@media(max-width: 1024px)
    header>.container
        flex-direction: column
    .top
        position: absolute
        left: 10px
    .logo
        margin-bottom: 10px
    .header__menu
        margin-bottom: 10px
    .seacrh
        margin-top: 10px
        margin-bottom: 10px
    .header__menu .navbar
        z-index: 10
    .courses .flex 
        flex-wrap: wrap
        justify-content: center
    .courses .flex .courses__item
        max-width: 392px
        width: 100%
    .three .flex
        height: auto
        padding-top: 25px
        padding-bottom: 25px
        flex-wrap: wrap
        justify-content: center
        gap: 25px
        align-items: center
    .three .flex .line
        display: none
    .main .flex
        z-index: 2
    .main .one
        max-width: 500px
        z-index: 1
    .main .two
        left: 25px
    .interes .flex
        flex-wrap: wrap
        justify-content: center
        gap: 25px
    .contact .flex .contact__item form input
        max-width: 305px
    .white-popup .header-pop .tabs-pop a
        width: 100px
    #text-popup_2 .entrance
        max-width: 970px
@media(max-width: 1023px)
    #text-popup_2
        padding-bottom: 0px
    #text-popup_2 .entrance
        flex-direction: column
        justify-content: center
        max-width: 925px
    #text-popup_2 .entrance .entrance__item-two
        height: 500px
        max-width: 100%
    #text-popup_2 .entrance .entrance__item-two img
        margin: 0 auto
        left: 0
        right: 0
    #text-popup_2 .entrance .entrance__item-two .flex
        justify-content: center
    #text-popup_2 .entrance .entrance__item-two .seacrh-pop svg
        right: 105px
    .white-popup .header-pop .title-pop
        margin-right: 20px
    .white-popup .header-pop svg
        margin-left: 20px
    .white-popup .body-pop
        flex-direction: column
    .white-popup .body-pop .sidebar-pop
        max-width: 100%
    #pop1 .category
        margin-left: 75px
    #pop1 iframe
        max-width: 100%
        height: 22rem
    .sidebar
        position: absolute
        padding-bottom: 20px
        max-width: 370px
        padding-right: 10px
    .top .two
        width: 255px
    .lk-blocks__items .flex .lk-blocks__item
        max-width: 357px
    .interes .flex .interes__item .flex
        flex-wrap: nowrap
        align-items: center
        gap: 0px
    .interes .flex .interes__item .flex img
        max-height: 40px
    .header__menu ul
        flex-direction: column
        gap: 10px
    .header__menu .navbar
        top: 170%
        max-width: 10%
        padding: 10px
    footer .flex .footer__item
        margin-right: 135px
    .contact .flex .contact__item form input
        max-width: 100%
    .three .flex
        padding-top: 35px
        padding-bottom: 35px
    .main .one
        max-width: 454px
        right: -20px
        bottom: -138px
    .top
        top: 115px
@media(max-width: 767px)
    footer .flex .text
        margin-bottom: 53px
    
    footer .flex .footer__item
        margin-right: 0px
        min-width: 48%
    .white-popup .header-pop
        flex-direction: column
        padding-left: 10px
        padding-right: 10px
        height: auto
    .white-popup .header-pop img
        margin-top: 10px
        margin-right: 0px
    .white-popup .header-pop .title-pop
        margin-right: 0px
        margin-bottom: 10px
    .white-popup .header-pop .tabs-pop
        margin-bottom: 10px
    .white-popup .header-pop .tabs-pop a
        width: 95px
    .white-popup .header-pop .title-pop h4
        text-align: center
    .white-popup .header-pop .title-pop p
        text-align: center
    .white-popup .header-pop svg
        margin-left: 0px
        margin-bottom: 10px
    #pop1 .flex
        flex-direction: column
        align-items: baseline
    #pop1 .names
        margin-left: 0px
        margin-bottom: 10px
    #pop1 .category
        margin-left: 0px
        margin-bottom: 10px
    #pop1 .reviews
        margin-left: 0px
        margin-bottom: 10px
    #pop2 .flex
        flex-direction: column
    #pop2 .text-cart .interes-cart
        flex-wrap: wrap
        justify-content: center
    #pop3 .flex
        gap: 0px
        flex-direction: column
    #pop3 .flex .flex_item .revies__star .flex
        flex-direction: row
    .top
        top: 115px
    .sidebar
        max-width: 100%
        padding-left: 10px
        left: 0
    .lk-blocks__items .flex .lk-blocks__item
        max-width: 100%
    .courses .container .flex .courses__item .width
        max-width: 100%
    footer
        padding-top: 30px
    footer .flex
        flex-direction: column
        gap: 10px
        margin-bottom: 30px
    footer .flex .text
        padding-top: 0px
    header>.container
        flex-direction: column
    .header__menu .navbar
        top: 138%
        max-width: 20%
    .main .one
        display: none
    .main .flex
        flex-direction: column
    .main .flex svg
        left: 18px
        margin-top: 84px
    .main
        padding-top: 50px
        padding-bottom: 100px
    .main .two
        display: none
    .courses
        margin-bottom: 50px
        margin-top: 50px
    .mail .flex
        flex-direction: column
        gap: 15px
    .interes
        margin-bottom: 50px
    .contact
        margin-bottom: 50px
        margin-top: 50px
    .contact .flex
        flex-direction: column
        gap: 25px
    .contact .flex .contact__item .flex
        flex-direction: row
    .three .flex .three__item h4
        text-align: center
    .courses h2, .interes h2
        line-height: 35px
    #text-popup_2 .entrance .entrance__item-two .flex
        flex-direction: column
    #text-popup_2 .entrance .entrance__item-two .nav-pop
        margin-bottom: 10px
    #text-popup_2 .entrance .entrance__item-two .seacrh-pop svg
        top: 92px
        right: 120px
    #text-popup_2 .entrance .entrance__item-one
        padding-bottom: 20px
    #text-popup_2 .entrance .entrance__item-two img
        max-width: 100%
    #text-popup_2 .entrance .entrance__item-two .nav-pop
        margin-left: 0px
    #text-popup_2 .entrance .entrance__item-two .seacrh-pop input
        margin-left: 0px
    #text-popup_2 .entrance .entrance__item-one
        padding: 10px
    #text-popup_2 .entrance .entrance__item-one img
        display: flex
        justify-content: center
        margin: 0 auto
        margin-bottom: 20px
    #text-popup_2 .entrance .entrance__item-one p
        margin-bottom: 20px
    #text-popup_2 .entrance .entrance__item-one form .flex
        margin-top: 20px
    #text-popup_2 .entrance .entrance__item-one form input
        max-width: 100%
    #text-popup_2 .entrance .entrance__item-one form
        margin-right: 0px
        width: 100%
    #text-popup_3
        padding: 10px
    #text-popup_4
        padding: 10px
    footer .flex
        flex-wrap: wrap
        flex-direction: row
@media(max-width: 375px)
    #text-popup_2 .entrance .entrance__item-two .seacrh-pop svg
        right: 105px
    .white-popup .header-pop .tabs-pop
        flex-wrap: wrap
        justify-content: center
    .white-popup .header-pop .tabs-pop a
        width: 100%
    .sidebar .interes a
        font-size: 14px
@media(max-width: 374px)
    .lk-kabinet
        margin-left: 115px
    .sidebar .interes a
        padding: 8px
    .acor-container label
        font-size: 17px
    .header__menu .navbar
        max-width: 25%
    #pop3 .flex .flex_item .revies__star .flex svg
        max-width: 28px
    #pop3 .flex .flex_item .revies__star .number__star
        font-size: 30px
    