footer 
    .container 
        .flex 
            .text Prodventure ist dafür da, Produktmanagern zu helfen, wertvolle Inhalte schnell zu finden.
            .footer__item
                h3 Support Zone
                a(href="#") Datenschutz
                a(href="#") Sitemap
            .footer__item
                h3 Company Info
                a(href="#") Über uns
                a(href="#") Kontakt
            .footer__item(class="dop")
                h3 Explore Services
                a(href="#") Blog
    .line
    .copyrights Copyright © 2021. All rights reserved