footer 
    
    .container
        .flex 
            .item
                a.logo(href="#")
                    img(src=img+"Screen Shot 2021-08-03 at 12.14 1.png", alt="")
                .text Prodventure ist dafür da, Produktmanagern zu helfen, wertvolle Inhalte schnell zu finden.
            .footer__item
                h3 Support Zone
                a(href="#") Datenschutz
                a(href="#") Sitemap
            .footer__item
                h3 Company Info
                a(href="#") Über uns
                a(href="#") Kontakt
            .footer__item(class="dop")
                h3 Explore Services
                a(href="#") Blog
    .line
    .copyrights Copyright © 2021. All rights reserved